header{
    background-color: #D7EDEF;
    font-family: "Times New Roman";
    text-align: left;
    padding: 15px;
    width: 100%;
}

.motto{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo{
    height: 115px;
}
.img-container{
    text-align: center;
}

header h1 {
    font-size: 50px;
    margin: 0;
}
header h6 {
    margin: 0;
    font-size: 17px;
}

.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.nav_bar a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #224f5e;
}


.nav_bar a:hover {
  background-color: #fff;
  color: black;
}

#about{
    margin-left: 0px;
}

html, body {
    margin: 0;
    height: 100%;
}

.cupcake {
    margin-top: 10px;
    background-image: url('https://wallpaperaccess.com/full/264881.jpg');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cupcake h2{
    text-align: center;
    letter-spacing: -1px;
    font-family: dancingscript-regular,dancing script,cursive;
    font-size: 700%;
    color:blue;
}

.cupcake h5{
    font-size: 30px;
    font-family: "Times New Roman";
    color: white;
}
.cupcake h5:hover{
    text-decoration: underline;
}

.frost_img{
    float: left;
    width: 100%;
    height: 300px;
}

.fresh{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Work Sans",helvetica,arial,sans-serif;
}

.fresh h1{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #479f92;
    line-height: 1.25;
    font-weight: 600;
}

.fresh p{
    text-align: center;
    line-height: 1.5;
    font-family: PlutoSansRegular,helvetica,arial,sans-serif;
}

.fresh button{
    background-color: #479f92;
}

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}